* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#ff8f4f, #f46542);
}

#main {
  width: 60%;
  margin: 0 auto;
}

.result-list {
  max-height: 800px;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
  padding-left: 0px;
  font-size: 24px;
  border: 2px solid #888;
  border-top: none;
  background-color: #FFF;
  transition: max-height 1s;
}

.result-list:empty {
  border: none;
  max-height: 0px
}


.result-list li {
  padding: 1em;
}

.result-list li:hover {
  background-color: #EEE;
}

.result-list li.active {
  background-color: #369;
  color: #FFF;
}

input.search {
  font-size: 24px;
  font-weight: bold;
  padding: 1em;
  border: 2px solid #444;
  width: 100%;
}

.viz-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 130px;
  width: 100%;
  background-color: #555;
}

.viz {
  background-color: #369;
  border-top: 2px solid #6AF;
  width: 10%;
}

/*
.key {
  margin: 20px;
  display: inline-block;
  min-width: 30px;
  padding: 10px;
  background-image: linear-gradient(#fff, #ccc);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow:
    inset 0px 0px 6px 0px #fff,
    0px 20px 10px 0px rgba(0, 0, 0, 0.125),
    0px 10px 0px 10px #aaa,
    0px 11px 0px 11px #888,
    0px 10px 20px 2px #000;
  text-transform: uppercase;
  font-weight: 400;
}
*/
